.gpt3__cta {
    display: flex;
}

.gpt3__cta {
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.gpt3__cta-content p, h3, button {
    font-family: var(--font-family);
}

.gpt3__cta-content p {
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}


.gpt3__cta-content h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}

.gpt3__cta-button {
    margin-left: 2rem;
}

.gpt3__cta-button button {
    border-radius: 40px;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;

    color: #FFF;
    background: #000000;
}

.gpt3__cta-button button:hover {
    transform: scale(1.2 );
}

@media (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-button {
        margin: 2rem 0 0;
    }

    .gpt3__cta-content {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .gpt3__cta {
        margin: 4rem 2rem;
    }
    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-button button {
        font-size: 18px;
        line-height: 32px;
    }
}